.imomo-scroll-top {
    display: inline-block;
    background-color: #3333;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s,
    visibility .5s;
    z-index: 1000;
    cursor: pointer;
    padding: 5px;
    opacity: 0;
}

.imomo-scroll-top.bottom-right {
    bottom: 50px;
    right: 50px;
}

.imomo-scroll-top.bottom-left {
    bottom: 50px;
    right: auto;
    left: 50px;
}

.imomo-scroll-top.center-right {
    bottom: 50%;
    right: 50px;
}

.imomo-scroll-top.center-left {
    bottom: 50%;
    right: auto;
    left: 50px;
}

.imomo-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
